main {
    /* background-color: rgba(247, 144, 26, 0.493); */
    background-image: url(../Images/bg.jpg);
    background-size: cover;
    margin-left: 10px;

}
.navigation {
    border-color: black;
    background-color: rgb(65, 59, 59);
}

nav {
    text-align:left;
    border-color: rgb(108, 148, 16);
    background-color: rgba(192, 237, 255, 0.185);
    
}

navbar-brand {
    font-size: 6rem;
}
h1 {text-align: center;
background-color: rgb(red, green, blue);
}
.myButton {
    background-color: darkgreen;
}
form {
    border: 1px solid rgb(44, 33, 33) ;
    padding: 1rem;
}
#contact .h4 {
border: 1px solid black;
padding: 1rem;
}
@media only screen and (min-width: 320px) {

}